/*side-menu start*/
/*side-menu end*/
body {
  background-color: #FFBC00;
  background: url(../images/bg.jpg) top no-repeat fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: #ff6c00 !important;
}

b, strong, i, em, p {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #474747;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 0;
}

h1 {
  font-size: 16px;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
  color: #000;
}

.cls_Container {
  width: 1000px;
  margin: 0 auto;
  background: #FFFFFF;
}

.cls_bannerCont .nivoSlider {
  width: 960px;
  margin: auto;
  height: 354px;
}

.cls_sliderCont {
  width: 1000px;
  height: auto;
  background: url(../images/product-showcase-bg.jpg) bottom #fff repeat-x;
  margin: auto;
}

.cls_slideInfo {
  width: 960px;
  padding: 20px 20px 48px 20px;
  max-height: 180px !important;
  overflow: hidden;
}

h2.cls_subHeader {
  width: #000;
  font-size: 16px;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
  padding-bottom: 15px !important;
}

.cls_slideInfo img {
  border: 1px solid #ccc;
}

section#id_mainCont {
  overflow: hidden;
  width: 960px;
  margin: auto;
}

.cls_sideMenuCont {
  background-color: #fff;
  box-shadow: 0px 5px 14px #d8d8d8;
  width: 240px;
  height: auto;
  float: left;
  padding-bottom: 10px;
}

.cls_sideMenuImg {
  float: right;
  margin-top: -5px;
  margin-right: -20px;
}

.cls_sideMenuHeader {
  padding: 5px 20px;
  margin: 0px;
  background-color: #FFD05C;
  background-image: -moz-linear-gradient(top, #FFD05C, #FEB52C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD05C), to(#FEB52C));
  background-image: -webkit-linear-gradient(top, #FFD05C, #FEB52C);
  background-image: -o-linear-gradient(top, #FFD05C, #FEB52C);
  background-image: linear-gradient(to bottom, #FFD05C, #FEB52C);
  background-repeat: repeat-x;
  filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffFFD05C', endColorstr='#ffFEB52C', GradientType=0)";
  color: #2B0D02;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 3px 3px 0 0;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
}

.cls_sideMenuList {
  background: #fff;
}

.cls_sideMenuList p {
  padding: 10px 0px 10px 10px !important;
}

.cls_sideMenuHead a:hover {
  color: #FF6203 !important;
}

.cls_sideSubList a {
  color: #929292;
  text-transform: uppercase;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
}

.cls_sideSubList a:hover {
  /*color: #FF6203 !important;*/
  color: #FF6203 !important;
}

.cls_sideMenuList {
  display: block;
}

.cls_sideMenuHead {
  cursor: pointer;
  position: relative;
  font-weight: bold;
  border-top: solid 1px #ECECEC;
  padding: 10px 0px 10px 10px !important;
}

.cls_sideMenuList:first-child .cls_sideMenuHead {
  border-top: 0px;
}

.cls_sideMenuHead a {
  color: #000000;
  font-weight: normal;
  text-transform: capitalize;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
  margin: 15px 10px 15px 10px !important;
  padding: 15px 0px 15px 0px !important;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 13px;
}

.cls_sideSubList {
  display: none;
  padding-bottom: 10px;
}

.cls_sideSubList a {
  display: block;
  font-size: 12px;
  padding: 4px 0px 5px 35px;
  margin: 0 0 0 0px;
  text-decoration: none;
}

.cls_sideSubList a:active {
  text-decoration: underline;
}

.cls_headerCont {
  width: 960px;
  margin: 0px auto;
}

header {
  width: 1000px;
  background: #fff;
  margin: 0px auto;
}

.cls_headerRight {
  width: 150px;
  height: auto;
  float: right;
  background: #FFC000;
  margin-top: -10px;
  padding: 20px;
}

.cls_headerMenuCont {
  height: 50px;
  clear: both;
  margin: auto;
  padding-right: 0px;
  box-sizing: border-box;
  width: 1000px;
  background-color: #fff;
}

.cls_headerMenuCont > ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 960px;
  height: inherit;
}

.cls_headerMenuCont > ul > li {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}

.cls_headerMenuCont > ul > li .cls_headerMenuHead a {
  padding: 0px 25px;
  display: block;
  color: #000;
  text-decoration: none;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -webkit-transition: background-color 200ms linear;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 50px;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.cls_headerMenuCont > ul > li:last-child .cls_headerMenuHead a {
  box-shadow: none;
  border-right: 0;
}

.cls_headerMenuCont > ul > li:hover {
  margin-left: -1px;
}

.cls_headerMenuCont > ul > li:hover .cls_headerMenuHead a {
  box-shadow: inset 2px 0 10px -5px rgba(255, 219, 129, 0.6), inset -2px 0 10px -5px rgba(255, 219, 129, 0.6);
  padding-left: 26px;
}

.cls_headerMenuCont > ul > li > .cls_headerSubList {
  visibility: hidden;
  position: absolute;
  border-top: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  top: 100%;
  color: #575757;
  opacity: 0;
  transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  z-index: 30;
  background: #FB8900;
}

.cls_headerMenuCont > ul > li:hover > .cls_headerSubList {
  visibility: visible;
  opacity: 1;
  margin-left: -1px;
}

ul.cls_headerSubList {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.cls_headerSubList li {
  display: block;
}

ul.cls_headerSubList li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #fff;
  margin: 0;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

ul.cls_headerSubList li a:hover {
  color: #fff;
}

.cls_headerMenuCont ul {
  background-color: #FFD05C;
  background-image: -moz-linear-gradient(top, #FFD05C, #FEB52C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD05C), to(#FEB52C));
  background-image: -webkit-linear-gradient(top, #FFD05C, #FEB52C);
  background-image: -o-linear-gradient(top, #FFD05C, #FEB52C);
  background-image: linear-gradient(to bottom, #FFD05C, #FEB52C);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFFD05C', endColorstr='#ffFEB52C', GradientType=0);
}

.cls_headerMenuCont > ul > li:hover .cls_headerMenuHead a {
  background-color: #FB8900;
  color: #fff !important;
}

.cls_headerMenuCont ul.cls_headerSubList li a:hover {
  background: #FFC74C;
}

.cls_articleContainer {
  width: 700px;
  height: auto;
  float: left;
  margin-left: 20px;
}

.cls_articleTopContent {
  display: block;
  float: left;
}

.cls_artFirstCont {
  width: 360px;
  height: auto;
  float: left;
  margin-right: 20px;
}

.cls_artVideoCont {
  width: 320px;
  height: auto;
  float: left;
}

.cls_articleBottomCont {
  width: 700px;
  height: auto;
  float: left;
  padding-top: 30px;
}

.cls_articleBottomList {
  width: 228px;
  height: auto;
  float: left;
  margin-right: 8px;
}

.cls_articleBottomCont div:last-child {
  margin-right: 0 !important;
}

.cls_articleContainer h1 {
  font-size: 23px;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
  color: #000;
}

.cls_footerCont {
  height: auto;
  width: 100%;
  background: #FFF7E6;
}

.cls_FooterTopContainer {
  width: 960px;
  height: auto;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.cls_footerSectionCont {
  width: 240px;
  float: left;
}

.cls_footerSectionDesc b {
  font-weight: bold;
  color: #333;
}

.cls_footerSectionCont h1 {
  color: #000;
  font-size: 16px;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
}

.cls_footerSectionCont p {
  color: #7F7B73;
  font-size: 11px;
}

.cls_footerSectionList {
  list-style: none;
  display: block;
  padding: 2px 0px 2px 0px;
}

.cls_footerSectionList a {
  color: #7F7B73;
  font-size: 11px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.cls_footerSectionRead {
  color: #333;
}

.cls_footerSectionCont:first-child {
  width: 280px;
  margin-right: 20px;
}

.cls_footerSectionCont:nth-child(2) {
  width: 180px;
}

.cls_footerSectionCont:nth-child(3) {
  margin-top: 22px;
}

#cls_footerCont {
  width: 1000px;
  margin: 0px auto;
  background-color: #FFF7E6;
  overflow: hidden;
}

#cls_bottomMenuContainer {
  width: 960px;
  margin: auto;
}

.cls_bottomMenuCont {
  margin-top: 0px;
  padding: 24px 0 20px 0px;
  width: 420px;
  float: left;
}

.cls_bottomMenuCont li {
  display: inline-block;
}

.cls_bottomMenuCont li a {
  color: #666666;
  padding: 0 8px 0px 0px;
  font-size: 12px;
  font-family: 'robotocondensed', Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  line-height: 12px;
}

.cls_bottomMenuCont li:after {
  border-right: 1px solid #ccc;
  display: block;
  color: #B6B9BF !important;
  color: #B6B9BF !important;
}

.cls_bottomMenuCont li a:after {
  content: "|";
  padding-left: 8px;
}

.cls_bottomMenuCont li:last-child a:after {
  content: "";
}

div#cls_bottomContainer {
  clear: both;
  background: #FB8900;
  overflow: hidden;
}

.cls_bottomLeftCont {
  float: left;
  padding-left: 20px;
  padding: 25px 0px 5px 20px;
  font-size: 10px;
  color: #000;
}

.cls_bottromRightCont {
  float: right;
  padding-right: 20px;
}

.cls_socialMenuCont {
  float: right;
  width: 230px;
  margin-right: 11px;
  margin-top: 5px;
}

h1.cls_socialMenuHeader {
  margin-right: 18px;
  float: left;
  line-height: 30px;
}

div#cls_socialMenuListCont {
  float: right;
}

.cls_socialMenuList {
  display: inline;
  margin-left: 5px;
  padding: 0;
}

.cls_socialMenuList a {
  opacity: 0.7;
}

.cls_socialMenuList img {
  width: 30px;
}

.cls_socialMenuList a:hover {
  opacity: 1;
}
